body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background: repeating-linear-gradient( -90deg, #fefefe, #fefefe 8.33333%, #fff 8.33333%, #fff 16.66666% );
}

h1 {
    margin-top: 35px;
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

a, a:active {
    color: #141414;
}

    a h1, a:active h1 {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: #ADADAD;
    }

img {
    opacity: 1;
    transition: opacity 0.3s;
}

    img[data-src] {
        opacity: 0;
    }

.s-show {
    display: block;
}

.s-hidden {
    display: none;
}

.website-title-redacted {
    color: #141414;
}

.website-title {
    color: #fff;
    background: #141414;
    position: relative;
    z-index: 1;
    padding: 1% 20px;
    text-align: center;
}

    .website-title:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        display: block;
        height: 50%;
        z-index: -1;
        -webkit-transform: skewY(-3deg);
        transform: skewY(-3deg);
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

.website-smalltitle {
    background: #141414;
    padding: 10px 20px;
}

    .website-smalltitle a {
        color: #fff;
    }

.website-category {
    margin-bottom: 10%;
}

.website-body {
    width: 83.33333%;
    max-width: 700px;
    margin: 0 auto;
}

.work-experience {
    margin-bottom: 10px;
    border-left: 2px solid #141414;
}

.work-experience-content {
    padding: 5px 8.33333%;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* background: repeating-linear-gradient(
        -90deg,
        #eee,
        #eee 8.33333%,
        rgb(255, 255, 255) 8.33333%,
        rgb(255, 255, 255) 16.66666%
      ); */
}

.company-logo {
    box-sizing: border-box;
    width: 30%;
    float: left;
}

    .company-logo img {
        width: 80%;
        filter: gray;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

.company-info {
    float: left;
    width: 70%;
}

.company-info-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.company-info-date {
    font-size: 15px;
    margin-bottom: 10px;
}

.company-description {
    box-sizing: border-box;
}

    .company-description span {
        display: inline-block;
        margin-bottom: 10px;
    }

.work-image-cover {
    width: 100%;
}

@media only screen and (min-width: 450px) {
    .company-info-name {
        font-size: 20px;
        margin-top: 5px;
    }

    .company-info-date {
        font-size: 17px;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 500px) {
    .company-info-name {
        font-size: 21px;
        margin-top: 10px;
    }

    .company-info-date {
        font-size: 18px;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .company-info-name {
        font-size: 23px;
    }

    .company-info-date {
        font-size: 20px;
    }

    .work-screenshot {
        width: 50%;
        float: left;
    }

    .work-screenshot-alone {
        width: 100%;
    }
}

@media only screen and (min-width: 850px) {
    .s-show {
        display: none;
    }

    .s-hidden {
        display: block;
    }

    .website-category {
        margin-bottom: 75px;
    }

    .website-title {
        margin-bottom: 125px;
    }

    .work-experience-content {
        justify-content: flex-end;
        max-width: 900px;
        margin: 0 auto;
    }

    .company-logo {
        width: 30%;
        min-height: 172px;
    }

        .company-logo img {
            width: 90%;
            margin-top: 10px;
        }

    .company-info, .company-description {
        width: 70%;
        padding-left: 10%;
        box-sizing: border-box;
    }

    .company-info-name {
        float: left;
        font-size: 28px;
    }

    .company-info-date {
        float: left;
        margin: 17px 0 0 25px;
    }

    .company-description {
        margin-top: -115px;
    }

    .work-experience {
        margin-bottom: 20px;
    }

    .university-info-date {
        width: 100%;
        margin: 0;
    }

    .university-description {
        margin-top: -65px;
    }

    .work-info {
        width: 100%;
        padding: 0;
    }

    .work-info-name {
        font-size: 28px;
    }

    .work-info-date {
        width: 100%;
        margin: 0;
        float: left;
    }

    .work-description {
        margin-top: 10px;
        width: 100%;
        padding: 0;
    }
}